<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
  initial-scale=1.0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container d-flex flex-column align-items-center">
      <h1 class="mt-5 bg-white rounded p-3 border shadow-sm">My Recipes</h1>
      <div class="d-flex flex-wrap justify-content-center">
        <% recipes.forEach(recipe=>{ %>
        <div class="card m-5" style="width: 18rem" id="recipe-<%= recipe.id %>">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <hr />
            <h6>Recipe</h6>
            <p class="card-text"><%= recipe.content %></p>
            <hr />
          </div>
          <div class="card-body">
            <h6>Ingredients</h6>
            <p class="card-text"><%= recipe.ingredients %></p>
          </div>
          <div class="card-body">
            <hr />
            <h6>Rating</h6>
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              id="rating"
              name="rating"
              value="<%= recipe.rating %>"
              disabled
            />
          </div>
          <div class="d-flex justify-content-around py-4">
            <a class="btn btn-warning shadow-sm" href="/my-recipes/<%= recipe.id%>/update" role="button">Edit Recipe</a>
            <form method="POST" action="/my-recipes/<%= recipe.id%>?_method=DELETE">
              <button class="btn btn-danger shadow-sm">Delete</button>
            </form>
          </div>
        </div>
        <% })%>
      </div>
      <div class="d-flex">
        <form method="POST" action="/delete-all?_method=DELETE">
          <button class="btn btn-dark shadow-sm my-5">Delete All Recipes</button>
          <a class="btn btn-outline-dark ms-4" role="button" href="/">Home</a>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
