<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/static/stylesheets/style.css" />
</head>
<body>
  
  <div class="container w-50">
    <h1 class="py-4">Edit A Recipe</h1>
  <form method="POST" action="/my-recipes/<%=singleRecipe.id%>?_method=PATCH">
    <div class="">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title"  name="title"placeholder="" value=<%= singleRecipe.title %>/>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" name="content" rows="3"><%= singleRecipe.content %></textarea>
    </div>
    <div class="mb-3">
      <label for="ingredients" class="form-label">Ingredients</label>
      <textarea class="form-control" id="ingredients" name="ingredients" rows="3"><%= singleRecipe.ingredients %></textarea>
    </div>
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="range" class="form-range" min="0" max="5" id="rating" name="rating" value=<%= singleRecipe.rating %> />
    </div>
    <button id="add-recipe" class="btn btn-primary">Submit</button>
    <a id="add-recipe" class="btn btn-primary" role="button" href="/">Go Back</a>
  </div>
  </form>
  </div>

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/static/scripts/clientRecipe.js"></script>

</body>
</html>